.header {
  background-image: url(../assets/backgrounds/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.header__inner-wrapper {
  display: flex;
  padding: 3rem 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}
.header__title {
  text-transform: uppercase;
  color: hsl(0, 0%, 98%);
  letter-spacing: 0.75rem;
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .header {
    background-image: url(../assets/backgrounds/bg-desktop-light.jpg);
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    background-image: url(../assets/backgrounds/bg-mobile-dark.jpg);
  }
}
@media (prefers-color-scheme: dark) and (min-width: 992px) {
  .header {
    background-image: url(../assets/backgrounds/bg-desktop-dark.jpg);
  }
}
