.create-todo {
  border-radius: 7px;
}
.input--create {
  color: var(--dark-grayisgh-blue-light);
  margin-top: 3px;
  margin-left: 12px;
  font-size: 18px;
  border: 0;
  background-color: var(--very-light-gray-light);
}
.input--create:focus {
  outline: 0;
}

.input--create::placeholder {
  font-size: 18px;
  color: var(--dark-grayisgh-blue-light);
}
