.container__status-navbar {
  display: flex;
  justify-content: center;
  border-radius: 7px;
}
.todo-nav {
  justify-content: center;

  border-radius: 7px;
}
.todo-nav__text {
  cursor: pointer;
  font-weight: bold;
  color: var(--inactive-text);
  font-size: 15px;
}
.todo-nav__text:hover {
  color: var(--accent-text);
}

.todo-nav__text--active {
  color: var(--active-text);
}
.todo-nav__text--active.todo-nav__text:hover {
  color: var(--active-text);
}

.todo-nav__text--left {
  margin: 0 auto 0 0;
}
.todo-nav__text--right {
  margin: 0 0 0 auto;
}
@media only screen and (min-width: 992px) {
  .container__status-navbar {
    width: 60%;
  }
  .container__status-navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}
