.todo-list-status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.todo-list-status__left {
  color: var(--inactive-text);
}
.todo-list-status__clear {
  color: var(--inactive-text);
}
.todo-list-status__text {
  font-size: 14px !important;
}

@media only screen and (min-width: 992px) {
  .container__status-navbar.hide-mobile {
    display: flex !important;
    width: 30%;
  }
}
