.container__status-navbar {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.todo-nav {
  justify-content: center;
  font-weight: bold;
  color: var(--dark-grayisgh-blue-light);
  border-radius: 7px;
}
.todo-nav__text {
  cursor: pointer;
}
