:root {
  --active-text: hsl(220, 98%, 61%);

  /* Light theme */
  --todo-background: hsl(0, 0%, 98%);
  --background: hsl(236, 33%, 92%);
  --separator-inactive-text: hsl(233, 11%, 84%);
  --inactive-text: hsl(236, 9%, 61%);
  --accent-text: hsl(235, 19%, 35%);

  /* Dark theme */

  --very-dark-blue-dark: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue-dark: hsl(235, 24%, 19%);
  --light-grayish-blue-dark: hsl(234, 39%, 85%);
  /* --light-grayish-blue (hover): hsl(236, 33%, 92%); */
  --dark-grayish-blue-dark: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-dark: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
}
[data-theme='dark'] {
  --todo-background: hsl(235, 24%, 19%);
  --background: hsl(235, 21%, 11%);
  --accent-text: hsl(234, 39%, 85%);
  --separator-inactive-text: hsl(237, 14%, 26%);
  --inactive-text: hsl(233, 14%, 35%);
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hide-mobile {
  display: none !important;
}

.container {
  background-color: var(--todo-background);
  display: flex;
  align-items: center;
  padding: 1rem;
  /* border-radius: 7px; */
}
.container__check-circle {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--separator-inactive-text);
  border-radius: 50%;
  cursor: pointer;
}
.container__check-circle--checked {
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  outline: 0;
}
.container__check-circle--checked.container__check-circle:hover {
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  outline: 0;
  border-color: var(--separator-inactive-text);
}

.container__check-circle:hover {
  background: linear-gradient(var(--todo-background), var(--todo-background))
      padding-box,
    linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: 1px solid transparent;
}
.container--create {
  margin-bottom: 1rem;
}
.container__text {
  margin-top: 3px;
  margin-left: 12px;
}

.check-circle__check {
  width: 11px;
}

@media only screen and (min-width: 992px) {
  .hide-desktop {
    display: none !important;
  }
  .hide-mobile {
    display: block !important;
  }
}
